body{
   background: url('fl2.jpg') ;
/*    height: 18.75rem;*/
     width: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#txt{
    text-align: center;
    margin-top: 1.875rem;
    color: red;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#home{
     
    flex-direction: column;
    padding:0.01875rem 15.5rem;
    
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
    /* margin-left: 1rem; */
    
   
}


  


hr {
    width:45%;
    margin:0 auto;
    margin-bottom: 1.875rem;
   border: 0.125rem solid crimson;
  border-radius: 0.3125rem;
}



.form-label{
    color: black;

}
.form-check-label{
    color: black;
}

@media screen and (max-width: 1350px){
    #home{
       display: flex;
       margin: auto;
        padding: inherit;
/*        width: 100%;*/
        
    }
    
    
}




















